Q1. What is a database? Differentiate between SQL and NoSQL databases.

ANS - A database is a collection of organized information that stores, maintains, and provides access to data. Databases are used to process transactions, which involves capturing, storing, and managing operational data in real time

             SQL	                                                                               NoSQL
RELATIONAL DATABASE MANAGEMENT SYSTEM (RDBMS)	                                Non-relational or distributed database system.
These databases have fixed or static or predefined schema	                    They have a dynamic schema
These databases are not suited for hierarchical data storage.	                These databases are best suited for hierarchical data storage.
These databases are best suited for complex queries                         	These databases are not so good for complex queries
Vertically Scalable	Horizontally scalable

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

ANS - DDL (Data Definition Language) is a type of SQL command used to define data structures and modify data.
CREATE: CREATE TABLE TestTable AS
DROP  : DROP TABLE Shippers;
ALTER : COUSTOMER 
TRUNCATE: TRUNCATE TABLE Categories;

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

ANS - Data Manipulation Language (DML) is a computer programming language that allows users to add, delete, and change data in a database.
INSERT: Inserts one or more new records into the table in the SQL database
UPDATE: Updates or changes the existing data or records in a table in the SQL database
DELETE:eletes all the existing records and the allocated spaces from a table in the SQL

Q4. What is DQL? Explain SELECT with an example.
ANS-DQL statements are used for performing queries on the data within schema objects
SELECT :column1, column2, ...FROM table_name<br>WHERE condition;

Q5. Explain Primary Key and Foreign Key.
ANS- The primary key is a unique or non-null key that uniquely identifies every record in a table or relation. Each database needs a unique identifier for every row of a table, and the primary key plays a vital role in identifying rows in the table uniquely. The primary key column can't store duplicate values. It is also called a minimal super key; therefore, we cannot specify more than one primary key in any relationship.

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.
ANS - import mysql.connector
# import mysql.connector
#create user 'user'@'%' identified by 'password'
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
print(mydb)
mycursor = mydb.cursor()
mycursor.execute("SHOW DATABASES")
for x in mycursor:
  print(x)

Q7. Give the order of execution of SQL clauses in an SQL query.

ANS - SELECT customer_ID, SUM(total_amount) AS “Total”
FROM orders
WHERE order_date BETWEEN ‘2022-01-01’ AND ‘2022-03-31’
AND customer_city = ‘New York’
GROUP BY customer_id
ORDER BY Total DESC